@import 'carbon-components/scss/globals/scss/colors';
@import 'carbon-components/scss/globals/scss/vars';
@import 'carbon-components/scss/globals/scss/layout';
@import 'carbon-components/scss/globals/scss/import-once';

@include exports("detail-highlight") {
  .bx--artifact-details-highlight-container {
    margin-bottom: rem(35px);
    display: flex;
    flex-direction: column;

    &.bx--hide {
      display: none;
    }

    & .bx--title-label {
      font-size: rem(25px);
      font-weight: 100;
      line-height: 3;
    }

    & .bx--description-label {
      font-size: rem(14px);
      font-weight: 300;
    }

    @media (min-width: breakpoint('md')) {
      & .bx--createArtifactFlexGroupRow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }
  }

  .bx--artifact-details-description-container {
    margin-bottom: 5px;
    @media (min-width: breakpoint('md')) {
      width: calc(100% - 100px);
    }
  }

  .bx--description-label,
  .bx--markdown-container h1 {
    margin: 0 0 15px 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.55rem;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: normal;
  }

  .bx--artifact-details-highlight-container {
    .bx--markdown-container {
      .underline-text {
        text-decoration: underline;
      }
    }
  }

  .bx--artifact-details-description,
  .bx--markdown-container {
    font-size: rem(14px);
    line-height: 1.5;
  }

  .bx--artifact-details-description-content {
    width: 100%;
    height: auto;
    line-height: 1.5;

    .bx--artifact-details-description-bullets {
      font-size: rem(14px);
      list-style: disc outside none;
    }

    .bx--description-bullet-content {
      width: 100%;
      margin-left: rem(20px);
      margin-bottom: rem(24px);

      @media screen and (min-width: breakpoint('md')) {
        width: calc(50% - rem(20px));
      }
    }

    .bx--description-bullet-content:nth-child(2n + 1) {
      width: 100%;
      padding-right: rem(16px);

      @media screen and (min-width: breakpoint('md')) {
        width: calc(50% - rem(36px));
      }
    }

    .bx--bullet-title {
      font-weight: bold;

      & + .bx--bullet-description {
        display: block;
        list-style-position: inherit;
        margin: rem(8px) rem(24px) 0 0;
      }
    }
  }
}
